#brand{
    font-family: Fredoka One;
    font-size: x-large;
    color: #142850;
}

#brand:hover{
    color: #142850;
    text-decoration: none;
}

#icon-navbar{
    color: darkblue;
    margin-right: 3px;
}

.link{
    color: black;
}

.link:hover{
    color: brown;
    text-decoration: none;
}